body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #fff;
  padding: 1em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  margin: 0;
  font-size: 1.5em;
  color: #cfc6c6;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 2em;
}

nav ul li a {
  text-decoration: none;
  color: #454343;
  font-weight: bold;
}

.hero-background {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-image: url('/assets/hero_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background: rgba(0, 0, 0, 0.7);
//   padding: 2em;
//   border-radius: 10px;
}

.hero-content {
  border: 2px solid rgb(254, 252, 252);
  background: rgba(31, 30, 30, 0.5);
  display: inline-block;
  padding: 2em;
  color: white;
  text-align: center;
}

.hero h2 {
  font-size: 3em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
  margin: 0.5em 0 1em 0;
}

.red-button {
  display: inline-block;
  padding: 0.5em 2em;
  background-color: #f47c20bb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.red-button:hover {
  background-color: #e04848;
}

main .container {
  padding: 2em 0;
}

.car-list {
  display: flex;
  justify-content: space-between;
}

.car {
  background: white;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
}

.car img {
  max-width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.car {
  flex: 0 0 calc(33.333% - 20px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.car img {
  max-width: 100%;
  height: auto;
}

.car h2 {
  margin-top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 1em;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 100px;
  height: auto;
  width: auto;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

.navbar h1 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #575757;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.nav-list li {
  margin-right: 10px;
}
