body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #333;
  padding: 1.5em 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Merriweather', serif;
}

.logo h1 {
  margin: 0;
  font-size: 2em;
  color: #fff;
  font-family: 'Playfair Display', serif;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 2em;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  padding: 0.5em 1em;
}

.hero-background {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-image: url('/assets/hero_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black
}

.hero {
  background: rgba(0, 0, 0, 0.7);
  // padding: 3em;
  // border-radius: 10px;
}

.hero-content {
  border: 2px solid #ffffff43;
  background: rgba(31, 30, 30, 0.5);
  display: inline-block;
  padding: 2em;
  color: #ffffff;
  text-align: center;
}

.hero h2 {
  font-size: 3em;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.hero p {
  font-size: 1.5em;
  margin: 0.5em 0 1em 0;
  font-family: 'Merriweather';
}

.red-button {
  display: inline-block;
  padding: 0.5em 2em;
  background-color: #d66d1d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  transition: 0.3s;
}

.red-button:hover {
  background-color: #f47c2085;
}

main .container {
  padding: 2em 0;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.car-index-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

body {
  background-color: #c7c7c7;
}

.header-box {
  background-color: #2A282C;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
}

.header-box h1 {
  color: white;
}

.car-price {
  font-size: 20px;
  color: #2a282c;
  margin-top: 20px;
}

.btn-new-car {
  background-color: #d66d1d;
  color: #fefefd;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.btn-new-car:hover {
  background-color: darken(#d66d1d, 10%);
  color: #fefefd;
}

.car {
  background: white;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  height: 300px; /* Add fixed height */
  display: flex;
  flex-direction: column; /* Ensure proper alignment */
  justify-content: space-between; /* Space out elements inside */
}

.car img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.car h2, .car p {
  margin: 10px 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.icon-home {
  background: white;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  background: transparent;
}

.icon-home img {
  max-width: 100%;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-fit: contain;
  border-radius: 10px
}

// .tesla-logo {
//   width: 150px;
//   height: 150px;
// }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background-color: #c7c7c7;
}

footer {
  background-color: #535353;
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 10px;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.car {
  flex: 0 0 calc(33.333% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.car h2 {
  margin-top: 0;
  font-family: 'Merriweather', serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #535353;
  padding: 1em;
}

// .logo {
//   display: flex;
//   align-items: center;
// }

// .logo-img {
//   max-height: 100px;
//   height: auto;
//   width: auto;
// }

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  font-family: 'Merriweather', serif;
}

.navbar h1 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 50px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.nav-list li {
  margin-right: 10px;
}

.btn-primary {
  display: inline-block;
  padding: 0.03em 2.5em;
  background-color: #d66d1d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: 'Merriweather', serif;
  transition: 0.3s;
  border: 2px solid transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #967259;
  border-color: #b8891a;
}

#show-page-car-img.car-image {
  float: left;
  margin-right: 20px;
  overflow: hidden;
  height: 400px;
  display: flex;
  justify-content: center;
  img {
    max-width: 400px;
    height: auto;
    margin: auto 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
.car-actions {
  clear: both;
  margin-top: 20px;
  .btn {
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  .btn-book, .btn-back, .btn-edit {
    background-color: #d66d1d;
    border: none;
    color: #fefefd;
  }
  .btn:hover {
    opacity: 0.8;
    background-color: #b78c6d;
    border: none;
  }
}
.car-show {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hover-text {
  background-color: #333;
}
.booking-container {
  background-color: #d66d1d;
  padding: 10px;
  margin-bottom: 10px;
}

.car-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.booking-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.booking-elements {
  background-color: green;
  flex: 1;
  margin-bottom: 10px;
}

.elements-parent {
  display: flex;
}

.booking-elements p {
  flex-basis: 100%;
  margin: 0;
  padding: 5px;
  color: white;
}
// new car form
.form-control {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

// new car form
.form-group {
  margin-bottom: 15px;
}

// new car form
.actions {
  text-align: center;
}

// new car form
.form-container {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.back-arrow {
  color: #d56d1e;
  font-size: 30px;
}
