<li>
  <strong>Booking ID:</strong> <%= booking.id %><br>
  <strong>Booked At:</strong> <%= booking.created_at.strftime("%Y-%m-%d %H:%M:%S") %><br>
  <strong>Details:</strong> <%= booking.details %>
</li>
