<div class="push"></div>
    <footer>
        <nav>
            <div class="container">
              <ul>
                  <li class="fa-brands fa-twitter fa-2xl p-2" style="color: #ffffff;"></li>
                  <li class="fa-brands fa-facebook fa-2xl p-2" style="color: #ffffff;"></li>
                  <li class="fa-brands fa-square-instagram fa-2xl p-2" style="color: #ffffff;"></li>
              </ul>
            </div>
        </nav>
    </footer>
