  <footer>
      <div class="container">
        <i class="fa-brands fa-twitter fa-2xl p-2" style="color: #ffffff;"></i>
        <i class="fa-brands fa-facebook fa-2xl p-2" style="color: #ffffff;"></i>
        <i class="fa-brands fa-square-instagram fa-2xl p-2" style="color: #ffffff;"></i>
      </div>
    </footer>
