    <div class=“container”>
          <nav class="navbar">
          <div class=“logo”>
              <%= image_tag 'cover.png', alt: 'Logo', class: 'logo-img' %>
          </div>
            <ul class="nav-list">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Cars", cars_path%></li>
                <li><%= link_to "Bookings", bookings_path%></li>
            </ul>
        </nav>
    </div>
