    <div class=“container”>
          <nav class="navbar">
          <div class=“logo”>
              <%= image_tag 'cover.png', alt: 'Logo', class: 'logo-img'  %>
          </div>
            <ul class="nav-list">
                <li><%= link_to "Home", root_path %></li>
                <li><a href=“#”>Cars</a></li>
                <li><a href=“#”>Reviews</a></li>
                <li><a href=“#”>Contact</a></li>
            </ul>
        </nav>
    </div>
<%# the image tag on line 4 is the logo to change for
something better. %>
