    <div class=“container”>
          <nav class="navbar">
          <div class=“logo”>
              <h1>Exotic Cars Express</h1>
          </div>
            <ul class="nav-list">
                <li><%= link_to "Home", root_path %></li>
                <li><a href=“#”>Cars</a></li>
                <li><a href=“#”>Reviews</a></li>
                <li><a href=“#”>Contact</a></li>
            </ul>
        </nav>
    </div>
