<div class="hero-background">
  <div class="hero">
    <div class="hero-content">
      <h2>Experience greatness</h2>
      <p>Choose from a wide range of cars and enjoy a smooth rental experience.</p>
      <%= link_to "View Cars", cars_path, class: "red-button" %>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="car-list">
      <div class="car">
          <%= image_tag 'car_icons/bugatti.png', alt: 'bugatti' %>
      </div>
      <div class="car">
          <%= image_tag 'car_icons/ferrari.png', alt: 'ferrari' %>
      </div>
      <div class="car">
          <%= image_tag 'car_icons/tesla.png', alt: 'tesla' %>
      </div>
    </div>
  </div>
</main>
