<div class="hero-background">
  <div class="hero">
    <div class="hero-content">
      <h2>Luxury Awaits You</h2>
      <p>Choose from our premium fleet and enjoy a smooth, refined rental experience.</p>
      <%= link_to "View Cars", cars_path, class: "red-button" %>
    </div>
  </div>
</div>
<main>
  <div class="container">
  <h2 id="centre-h2">Popular brands</h2>
    <div class="icon-container">
      <div class="icon-home">
          <%= image_tag 'car_icons/bugatti.png', alt: 'bugatti' %>
      </div>
      <div class="icon-home">
          <%= image_tag 'car_icons/ferrari.png', alt: 'ferrari' %>
      </div>
      <div class="icon-home">
          <%= image_tag 'car_icons/tesla.png', alt: 'tesla', class: 'tesla-logo' %>
      </div>
    </div>
  </div>
</main>
